<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Preguntas</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/stylesheets/style1.css" />
    <link rel="stylesheet" media="only screen and (max-width:768px)" href="/stylesheets/smartphones1.css" />


  </head>
  <body>
    <div id="page-wrap" class="container">
      <header class="main page-header" id="h1">
        <span class="pull-right">
          <% if (!session.user) { %>
            <a href="/login">Login</a>
          <% } else { %>
            <%= session.user.username %> <a class="btn btn-default btn-xs" href="/logout">Logout</a>
          <% } %>
        </span>
        <h1 class="text-center">Quiz<small><span class="hidden-xs"> el juego de las preguntas</span></small></h1>
      </header>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <nav id="n1" role="navigation">
            <ul class="nav nav-pills nav-stacked main">
              <li role="presentation"><a class="links" href="/">Inicio</a></li>
              <li role="presentation"><a class="links" href="/quizes">Preguntas</a></li>
              <li role="presentation"><a class="links" href="/author">Autores</a></li>
            </ul>
          </nav>
          <hr class="featurette-divider visible-xs">
        </div>

        <div class="col-xs-12 col-sm-9">
          <section class="main" id="s1">
            <% if (errors.length){ %>
              <span id="ErrorMsgs">
                <p>Corregir errores:</p>
                <% for (var i in errors){ %>
                  <span><%= errors[i].message %></span>
                <% } %>
              </span>
            <% } %>
            <div>
              <%- body %>
            </div>
          </section>
        </div>
      </div>

      <hr class="featurette-divider">

      <footer class="main row" id="f1">
        <div class="col-xs-12 centered-columns">
          <a href="http://es.wikipedia.org/wiki/Quiz" target="_blank">Que es un Quiz?</a>
          <a href="http://github.com/rdab/miriada-quiz" target="_blank" class="text-hide">
            <img src="/images/GitHub-Mark-32px.png" >
            Ver en Github
          </a>
        </div>
      </footer>

    </div>

  </body>
</html>
