body {
  background: #333;
}

h2 span, section h3, .rem { display: none; }

body { font-size: xx-large; }
footer, input {font-size: large; }

.author_name{
  font-size: .7em;
}
#authors_wrap article{
  margin: .6em;
}
#authors_wrap article:last-child{
  margin-bottom: 0;
}
#authors_wrap article:first-child{
  margin-top: 0;
}
