.centered-columns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*** Header ***/
nav#n1 a{
  text-align: center;
}

/*** Footer ***/
footer.main > div{
  min-height: 10em;
  font-size: .9em;
}
footer a{
  margin: 4px 0;
}
footer img{
  opacity: .3;
  height: 24px;
  width: 24px;
}
footer img:hover{
  opacity: .5;
}

.form-signin .btn-primary{
  margin-top: .8em;
}

/*** Author ***/
.authors{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.authors .thumbnail{
  width: 150px;
  margin: 8px;
}
img.author_pict{
  height: 100px;
  width: 100px;
}
.contact{
  display: inline-block;
}
.contact img{
  width: 22px;
  margin: 2px;
}

/*** Tables ***/
.table td, .table th {
    border: none !important;
    vertical-align: middle !important;
}
.table .actions{
  text-align: right;
}
.table .quiz-col a{
  display: block;
  text-decoration: none;
}
