* { margin: 0; padding: 0;}
body { font: 16px Georgia, serif; }

a, a:visited{
  text-decoration: none;
  color: black;
}
a.links{
  color: #186D80;
}
a.links:hover{
  color: #3BD1F3;
}

section > div { padding: 20px; }
header, nav, section, footer {
  background: #eee;
  text-align: center;
}

#n1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#n1 span{
  margin: 3px;
}

#page-wrap { margin: 2% auto; color: white; }
#page-wrap > .main {
  border: 1px solid #999;
  padding: 1%;
  margin-bottom: 1px;
  color: black;
}

nav span { margin: 0 10px 0 0; }

footer{
  min-height: 100px;
  font-size: .8em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
footer a{
  margin: 5px;
}

#github_logo{
  background: no-repeat url(/images/GitHub-Mark-32px.png);
  background-size: cover;
  opacity: .2;
  height: 24px;
  width: 24px;
}
#github_logo:hover{
  opacity: .4;
}
