<div id='quizes_filter'>
  <form class="" action="/quizes" method="GET">
    <input type="text" name="search" placeholder="Buscar Quiz"/>
    <input type="submit" value="Filtrar">
  </form>
</div>
<ul>
  <% if (quizes.length > 0) { %>
    <% for (var i in quizes) { %>
      <li>
        <a class="links" href="quizes/<%= quizes[i].id %>">
          <%= quizes[i].pregunta %>
        </a>
        <a class="links" href="quizes/<%= quizes[i].id/edit %>">
          <button type="button">editar</button>
        </a>
      </li>
    <% } %>
  <% } else { %>
    <p>No se encontraron coincidencias</p>
  <% } %>
</ul>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
