
<div class="row center-block">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <h3 class="">Nueva pregunta</h3>
    <hr class="featurette-divider">
    <form class="form-horizontal" action="/quizes/create" method="post">
      <% include _form.ejs %>
    </form>
  </div>
</div>
